@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root{
--primary:  #4E4FeB;
--light: #ffff;
}

body{
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}
.bg-primary{
    background-color: var(--primary) !important;
}
#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .logo{

    padding: .875rem 1.25rem;
}
#sidebar-container .menu{
    width: 18rem;
} a{
    text-decoration: none;
}ion-icon{
    margin-right: 10px;
}
a:hover{
    background: #f9bf29;

}
.fondo {
    background-image: url(/img/1.jpg);
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo h1{
    display: flex;
    align-items: center;
    justify-content: center;
}